.flexbox {
      display: flex;
    flex-direction: row;
    align-items: center;
  }

  .naslov{
    font-size: 25px;
  }
  
  .card {
      max-width: 350px;
      margin: 3%;
      text-align: center;
      font-family: montserrat;
      border-radius: 20px;
      background: linear-gradient(120deg, #ffffff, #e6e6e6);
      box-shadow: 5px 5px 8px #c5c5c5, -5px -5px 10px #ffffff;
    }
    
    .flexbox > * {
      width: 30%;
    }
  
    .tezina{
      color: #d7456a;
      padding-top: 2%;
      padding-bottom:2%;
      text-align: center;
      
      background-color: #f4d4d9;
      border-radius: 10px;
     
    }

    #secondTezina{
      color: #d7456a;
      font-weight: bold;
      font-size: 20px;
    }

    .image {
      position: relative;
      
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
    
      align-items: flex-end;
    }
    
    .image:hover{
      opacity: 0.8;
    }

    .opis {
      text-align:start;
      padding-left: 5%;
      padding-right: 5%;
    }
    
    .trajanje {
      color: grey;
      font-size: 18px;
    }

    #secondText{
      color: #d7456a;
      font-weight: bold;
      font-size: 20px;
    }
    
    
    .card button {

      display: inline-block;

      font-size: 18px;
      border-radius: 500px;
      border: 0;
           
      margin-bottom: 4%;
   
     min-width: 160px;
      text-transform: uppercase;
      text-align: center;
      padding: 12px 20px;
      color: #fff;
      background-color: #d7456a;
      height: 48px;

      margin-block-end: 8%;
  
    }
    
    .card button:hover {
      opacity: 0.7;
    }
    
    .classButtonClick{
      border: 2px solid pink !important;
    }
    
    