

<div class="card">
 
  <p class="tezina">Težina: 
  <span id="secondTezina"> {{trening.tezina}}</span></p>


    <a [routerLink]="['/opis']" [queryParams]=
    "{naziv_vezbe:trening.naziv_vezbe}">
    <img
      [src]="trening.image"
      alt="vezba"
      width="90%"
      height="90%"
      class="image"
    /></a>
    <h1 class="naslov"> {{trening.naziv_vezbe}}</h1>
    
    <p class="opis">{{trening.opis | shorten}}</p>
    <p class="trajanje" appRedEl id="firstText">Trajanje serije vežbi:  <span id="secondText"> {{trening.trajanje}} min</span></p>
    <p>
      <button
      [ngClass]="{ classButtonClick: buttonClick == true}"
      (click)="onDodajTrening()"
    >
      Dodaj u trenig
    </button>
 
    
    </p>
  </div>