header{
    background: #ffc0cb;
    padding: 0;
    border-bottom: 1px solid #faafc2;
    height: 60px;
    }

a{
    color: #d7456a;
 }

a:hover {
    text-decoration: none; 
  //  font-size: 110%;
    color: #892c43;

}

.container{
    margin: 0;
    display: flex;
}

.container:hover{
    color: #892c43;
}

a.logo{
    font-weight: bold;
    padding: 1em;   //uzima onih 18 iz body
    padding-top: 10px;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding-top: 1em;

}

nav ul li{
    display: inline-block;
    padding-right: 1em;
}

.success {
    color: rgb(255, 255, 255) !important;
  }