<header>
    <div class="container">
    <a href="#" routerLink="/" class="logo" routerLinkActive="success">Trening!!</a>
        <nav>
           <ul>
                <li ><a href="#" routerLink="/home" id="home" routerLinkActive="success">Trening!!</a></li>
                <li > <a href="#" routerLink="/kontakt" id="kontakt" routerLinkActive="success">Kontakt</a></li>
                <li><a href="#" routerLink="/moj-trening" id="mojTrening" routerLinkActive="success">Moj trening</a></li>

           </ul> 
           
        </nav>
    </div>
</header>
