<header>
    <div class="container">
    <a href="#" routerLink="/" class="logo" routerLinkActive="success">
        <img src="/assets/images/logo1.png"
        alt="logo"
        width="40" height="40"/></a>
        <nav>
            
           <ul>
                <li ><a href="#" routerLink="/home" id="home" routerLinkActive="success">Vežbe</a></li>
                <li><a href="#" routerLink="/moj-trening" id="mojTrening" routerLinkActive="success">Moj trening</a></li>
                <li > <a href="#" routerLink="/kontakt" id="kontakt" routerLinkActive="success">Kontakt</a></li>
                

           </ul> 
           
        </nav>
    </div>
</header>
