
 
      
      
      


<div class="card" *ngFor="let t of mojiTreninzi">

    <h1 class="naslov"> {{t.naziv_vezbe}}</h1>
    <img class="image" [src]="t.image"> 
    Trajanje: {{t.ukupnoTrajanje}}
    <p class="tezina">Težina: 
        <span id="secondTezina"> {{t.tezina}}</span></p>


        <p class="opis">{{t.opis}}</p>
        <p class="trajanje" appRedEl id="firstText">Trajanje serije vežbi:  <span id="secondText"> {{t.trajanje}} min</span></p>
  

    
    <button
  
(click)="onIzbrisiTrenig(t)"

>
Izbrisi iz treninga
</button>

</div>

<span style="text-align: center;">Ukupno trajanje: {{ukupnoTrajanje}} min</span>


