* {
	box-sizing: border-box;
}


body {
	background-image: linear-gradient(45deg, #7175da, #9790F2);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

h1{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #d7456a;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 50px;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 90%;
	margin: 20px;
	overflow: hidden;

  margin-left: auto;
  margin-right: auto;
	
}


.course-preview {
	background-color: #d7456a;
	color: #fff;
	padding: 30px;
	max-width: 30%;
}

.course naslov {
	margin: 10px;
}

.naslov{
  margin-block-start: 0;
}

.image{
  max-width: 80%;
  margin-left: 5%;
}


.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
  color: #d7456a;
}




.btn {
	background-color: #d7456a;
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 18px;
	padding: 12px 25px;
	position: absolute;

  margin-block-start: 20%;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

}


#ukupno{
  color: #d7456a;
  font-weight: bold;
  font-size: 30px;
  float: right;
  margin: 30px;
  margin-right: 8%;
}

#datum{
  color: #d7456a;
  font-weight: bold;
  font-size: 30px;
  float: left;
  margin: 30px;
  margin-left: 8%;
}

.page-content{
	margin-bottom: 150px;
}