/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.google.com/specimen/Montserrat?query=mont&category=Sans+Serif");

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    background-color: rgb(255, 241, 243);
}

a{
    text-decoration: none;  //za underline
}